requests
kombu
pika
jsonschema
google-cloud-storage
boto3
boto3-stubs[s3]
cachetools
-e git+https://github.com/ebi-ait/ingest-client.git@d01a9a43#egg=hca_ingest
smart_open[all]
google-api-python-client
polling
packaging